<!DOCTYPE html>
<html>

<head>
	<title>Calculator</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js">
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<link href="http://netdna.bootstrapcdn.com/bootswatch/2.3.2/cyborg/bootstrap.min.css" rel="stylesheet">
	
	<script>
		$(document).ready(function() {
			$('#btn').click(function() {
				$.post("./send", {
					expr: $("#expr").val()
				});
				$("#expr").val('');
				$('#results').load('./results');
				return false;
			});
			
			$('#results').load('./results');
			setInterval(function() {
				$('#results').load('./results');
			}, 5000);
		});
	</script>
	
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="span12 text-center">
				<h1 class="text-info">RPN Calculator</h1>
			</div>
		</div>
		<div class="row">
			<div class="span6 text-center">
				<h2 class="text-info">Results</h2>
				<div id="results">
				</div>
				<div id="form">
					<form name="expression" action="">
						<div class="input-append">
							<input name="expr" id="expr" type="text" class="input-long" />
							<input type="submit" class="btn" id="btn" value="send" />  
						</div>
					</form>
				</div>
				<p>
					<strong>Aktualnie działa wszystko włącznie z AJAX.</strong>
				</p>
				<p>
					<em>Dwie instancje pwiexam i pwiexam2 na wypadek wyczerpania na którejś darmowych zasobów.</em>
				</p>
			</div>
			<div class="span6 text-center">
				<h2 class="text-info">Servers</h2>
				{% for op in servers %}
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th><div class="text-center">{{ op }}</span></th>
							</tr>
						</thead>
						<tbody>
							{% for server in servers[op] %}
								<tr>
									<td><em>{{ server }}</em></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>
